body {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
text-align: center;
}

nav a {
text-decoration: none;
color: black;
margin: 0 10px;
font-weight: bold;
}

.LastName {
font-size: 60px;
margin-bottom: 0;
}

.FirstName {
font-size: 30px;
margin-top: 5px;
}

table {
margin: auto;
border-collapse: collapse;
background-color: white;
}

th, td {
padding: 8px;
border: 1px solid black;
}


h2, h3 {
margin-top: 20px;
}